@use '/src/styles/vars' as *;

.link {
  display: flex !important;
  align-items: center;
  font-size: 1.4rem;
  gap: 0.6em;
  color: $text;
  text-decoration: none;

  &::after {
    transform: translateY(5px);
  }

  svg {
    height: 2em;
    width: 2em;
    flex-shrink: 0;
  }
}
