@use '/src/styles/vars' as *;
@use '/src/styles/mixins' as *;

.list {
  display: flex;

  &.horizontal {
    gap: 50px;

    @include largeTablet {
      gap: 30px;
    }
  }

  &.vertical {
    flex-direction: column;
    gap: 25px;
  }

  li::marker {
    content: none;
  }
}

.link {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  color: $textDark;
}
