@use '/src/styles/vars' as *;

.header {
  position: sticky;
  left: 0;
  top: 0;
  padding-block: 30px;
  z-index: 10;
  backdrop-filter: blur(15px);
  background-color: color-mix(in srgb, $background 85%, transparent 15%);
}

.inner {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  margin-inline: auto;
}
